<nav>
    <div class="content">
        
        <a href="/"> <h1>Blog site</h1></a>
        <p>A salies site</p>

    </div>
    <ul>
        <li><a href="/">Blogs</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create">Create blog</a></li>
    
    </ul>
</nav>